# ignore system files

# OS X
.Spotlight-V100
.Trashes

# Win
Thumbs.db
Desktop.ini

# vim
*~
.*.sw[a-z]
Session.vim

# non-distribution files
coverage
scripts
test
.travis.yml
.jshintrc
karma.conf.js
